{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Bridge {{ bridge_name }}{% endblock %}
{% block content %}

    <div class="main col-xs-12 col-sm-9">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <h3>Bridge: {{bridge_name}}</h3>
        <a href="{% url 'ovs_manager' srv_name %}" class="btn btn-sm btn-info">Back to Bridges Overview</a>
        <button href="#ManualCom" class="btn btn-sm btn-info" data-toggle="modal">Manual Command
            <span class="glyphicon glyphicon-edit"></span>
        </button>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul id="btnsection" class="nav nav-tabs">
                    <li class="active"><a class="inst-btn" href="#base" data-toggle="tab">
                        <span class="glyphicon glyphicon-briefcase"></span><br>{% trans "Base" %}
                    </a>
                    </li>
                    <li class="inst-btn"><a class="inst-btn" href="#stp" data-toggle="tab">
                        <span class="glyphicon glyphicon-briefcase"></span><br>{% trans "STP" %}
                    </a>
                    </li>
                    <li><a class="inst-btn" href="#rstp" data-toggle="tab">
                        <span class="glyphicon glyphicon-camera"></span><br>{% trans "RSTP" %}
                    </a>
                    </li>
                    <li><a class="inst-btn" href="#flows" data-toggle="tab">
                        <span class="glyphicon glyphicon-signal"></span><br>{% trans "Flows" %}
                    </a>
                    </li>
                    <li><a class="inst-btn" href="#sflow" data-toggle="tab">
                        <span class="glyphicon glyphicon-signal"></span><br>{% trans "SFlow" %}
                    </a>
                    </li>
                    <li><a class="inst-btn" href="#mcast" data-toggle="tab">
                        <span class="glyphicon glyphicon-signal"></span><br>{% trans "MCast" %}
                    </a>
                    </li>
                </ul>
                <div class="tab-content">
                  <div id="base" class="tab-pane fade in active">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fail Mode</label>
                            <div class="col-sm-6">
                                <select name="fail-mode" class="form-control">
                                    <option selected value="standalone">Standalone</option>
                                    <option value="secure">Secure</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                              <button type="submit" name="edit_bridge_base" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                  </div>

                  <div id="stp" class="tab-pane fade">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}

                        <div class="form-group">
                            <label class="col-sm-3 control-label">STP</label>
                            <div class="col-sm-6">
                                {% if stp %}
                                    <input type="submit" class="btn btn-xs btn-default" name="stp_disable"
                                           value="Disable">
                                {% else %}
                                    <input type="submit" class="btn btn-xs btn-default" name="stp_enable"
                                           value="Enable">
                                {% endif %}
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">STP priority</label>

                            <div class="col-sm-2">
                                <input type="number" name="stp-priority" class="form-control" required pattern="^[0-9]+"
                                       min="0" max="32768" step="16" value="{{ stp_priority }}"/>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">STP path cost</label>
                            <div class="col-sm-2">
                                <input type="number" name="stp-path-cost" class="form-control" required pattern="^[0-9]+"
                                       min="0" max="1024" step="1" value="{{ stp_path_cost }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                              <button type="submit" name="edit_bridge_stp" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                  </div>

                  <div id="rstp" class="tab-pane fade">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
                         <div class="form-group">
                            <label class="col-sm-3 control-label">RSTP address</label>
                            <div class="col-sm-4">
                                <input type="text" name="rstp-address" class="form-control" value="{{ rstp_address }}"
                                        required pattern="([0-9a-fA-F]{2}([:-]|$)){6}$|([0-9a-fA-F]{4}([.]|$)){3}"/>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">RSTP priority</label>
                            <div class="col-sm-2">
                                <input type="number" name="rstp-priority" class="form-control" required pattern="^[0-9]+"
                                       min="0" max="32768" step="4096" value="{{ rstp_priority }}"/>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">RSTP ageing time</label>
                            <div class="col-sm-2">
                                <input type="number" name="rstp-ageing-time" class="form-control" required pattern="^[0-9]+"
                                       min="10" max="1000000" step="1" value="{{ rstp_ageing_time }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RSTP force protocol version</label>
                            <div class="col-sm-4">
                                <select name="rstp-force-protocol-version" class="form-control">
                                    <option value="0">STP compatibility mode</option>
                                    <option selected value="2">Normal operation</option>
                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">RSTP max age</label>
                            <div class="col-sm-2">
                                <input type="number" name="rstp-max-age" class="form-control" min="6" max="40" step="1"
                                       value="{{ rstp_max_age }}" required pattern="^[0-9]+"/>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">RSTP forward delay</label>
                            <div class="col-sm-2">
                                <input type="number" name="rstp-forward-delay" class="form-control" min="4" max="30" step="1"
                                       value="{{ rstp_forward_delay }}" required pattern="^[0-9]+"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RSTP transmit hold count</label>
                            <div class="col-sm-2">
                                <input type="number" name="rstp-transmit-hold-count" class="form-control" min="1" max="10" step="1"
                                       value="{{ rstp_transmit_hold_count }}" required pattern="^[0-9]+"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                              <button type="submit" name="edit_bridge_rstp" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                  </div>

                  <div id="flows" class="tab-pane fade">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">OpenFlow Version</label>
                            <div class="col-sm-6">
                                <select name="protocols" class="form-control">
                                    <option value="OpenFlow10">OpenFlow 1.0</option>
                                    <option value="OpenFlow11">OpenFlow 1.1</option>
                                    <option value="OpenFlow12">OpenFlow 1.2</option>
                                    <option selected value="OpenFlow13">OpenFlow 1.3</option>
                                    <option value="OpenFlow14">OpenFlow 1.4</option>
                                    <option value="OpenFlow15">OpenFlow 1.5</option>
                                    <option value="OpenFlow16">OpenFlow 1.6</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                              <button type="submit" name="edit_bridge_flows" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                  </div>

                  <div id="sflow" class="tab-pane fade">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{% trans "SFlow Settings" %}</label>
                        </div>

                    </form>
                  </div>

                  <div id="mcast" class="tab-pane fade">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Multicast snooping flood</label>
                            <div class="col-sm-6">
                                {% if mcast_snooping_flood %}
                                    <input type="submit" class="btn btn-xs btn-default" name="mcast-snooping-flood_disable"
                                           value="Disable">
                                {% else %}
                                    <input type="submit" class="btn btn-xs btn-default" name="mcast-snooping-flood_enable"
                                           value="Enable">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Multicast snooping flood reports</label>
                            <div class="col-sm-6">
                                {% if mcast_snooping_flood_reports %}
                                    <input type="submit" class="btn btn-xs btn-default" name="mcast-snooping-flood-reports_disable"
                                           value="Disable">
                                {% else %}
                                    <input type="submit" class="btn btn-xs btn-default" name="mcast-snooping-flood-reports_enable"
                                           value="Enable">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Multicast snooping disable flood unregistered</label>
                            <div class="col-sm-6">
                                {% if mcast_snooping_disable_flood_unregistered %}
                                    <input type="submit" class="btn btn-xs btn-default" name="mcast-snooping-disable-flood_disable"
                                           value="Disable">
                                {% else %}
                                    <input type="submit" class="btn btn-xs btn-default" name="mcast-snooping-disable-flood_enable"
                                           value="Enable">
                                {% endif %}
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">Multicast snooping aging time</label>
                            <div class="col-sm-2">
                                <input type="number" name="mcast-snooping-aging-time" class="form-control" required pattern="^[0-9]+"
                                       min="0" max="10000" step="1" value="{{ mcast_snooping_aging_time }}"/>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">Multicast snooping table size</label>
                            <div class="col-sm-2">
                                <input type="number" name="mcast-snooping-table-size" class="form-control" required pattern="^[0-9]+"
                                       min="0" max="100000" step="1" value="{{ mcast_snooping_table_size }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                              <button type="submit" name="edit_bridge_mcast" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li><a href="#add_port" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus"></span><br>Add port</a></li>
                    <li><a href="#add_bond" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus"></span><br>Add bond</a></li>
                    {% for port in ports %}
                        <li><a href="{% cycle '#port1' '#port2' '#port3' '#port4' '#port5' '#port6' '#port7' '#port8' %}" data-toggle="tab">
                        <span class="glyphicon glyphicon-new-window"></span><br>Port: {{port}}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for port in ports %}
                      <div id="{% cycle 'port1' 'port2' 'port3' 'port4' 'port5' 'port6' 'port7' 'port8' %}" class="tab-pane fade">
                        <table class="table table-hover table-nolines">
                            <tbody>
                                {% for k,v in bridge.items %}
                                    {% if k == port %}
                                        <tr>{% if "Interfaces" in v %}<td>Interfaces:</td>
                                            <td>{{v.Interfaces}}</td>{% endif%}</tr>
                                        <tr>{% if "type" in v %}<td>type:</td>
                                            <td>{{v.type}}</td>{% endif%}</tr>
                                        <tr>{% if "tags" in v %}<td>Tags:</td>
                                            <td>{{v.tags}}</td>{% endif%}</tr>
                                        <tr>{% if "trunks" in v %}<td>Trunks:</td>
                                            <td>{{v.trunks}}</td>{% endif%}</tr>
                                    {% endif %}
                                {% endfor %}

                                {% for k,v in port_sets.items %}
                                    {% if k == port %}
                                        {% for kk,vv in v.items %}
                                            <tr><td>{{kk}}:</td>
                                                <td>{{vv}}</td></tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>
                        <form action="" method="post" role="form">{% csrf_token %}
                            <input type="hidden" name="port_for_del" value="{{ port }}"/>
                            <a href="{% url 'port_manager' srv_name bridge_name port %}" class="btn btn-sm btn-info" data-toggle="modal">Edit
                            <span class="glyphicon glyphicon-pencil"></span></a>
                            <button class="btn btn-sm btn-danger" type="submit" name="delete_port" title="Delete port"
                                onclick="return confirm('{% trans 'Are you sure?' %}')">Delete
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    <!-- Modal Secret -->
    <div class="modal fade" id="add_port" tabindex="-1" role="dialog" aria-labelledby="add_port"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create port</h4>
                </div>
                <div class="tab-content">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input type="text" name="port_name" class="form-control" placeholder="port0" maxlength="10"
                                       required pattern="[a-z0-9\.\:]+"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Interface</label>
                            <div class="col-sm-6">
                                <select name="port_interface" class="form-control">
                                    <option selected value="internal">Internal</option>
                                    <option value="gre">GRE</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tag</label>
                            <div class="col-sm-6">
                                <input type="number" name="port_tags" class="form-control" value="0"
                                       min="0" max="1000" step="1"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Trunks</label>
                            <div class="col-sm-6">
                                <input type="text" name="trunks" class="form-control" placeholder="[1,2]"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="create_port">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

            <!-- Modal Secret -->
    <div class="modal fade" id="add_bond" tabindex="-1" role="dialog" aria-labelledby="add_bond"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create bond</h4>
                </div>
                <div class="tab-content">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input type="text" name="bond_name" class="form-control" placeholder="bond0" maxlength="10"
                                       required pattern="[a-z0-9]+"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Interface 1 to bond</label>
                            <div class="col-sm-6">
                                <input type="text" name="iface_1" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Interface 2 to bond</label>

                            <div class="col-sm-6">
                                <input type="text" name="iface_2" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Trunks</label>
                            <div class="col-sm-6">
                                <input type="text" name="trunks" class="form-control" placeholder="[1,2]"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tag</label>
                            <div class="col-sm-6">
                                <input type="number" name="port_tags" class="form-control" value="0"
                                       min="0" max="1000" step="1"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">LACP</label>
                            <div class="col-sm-6">
                                <select name="lacp" class="form-control">
                                    <option selected value="passive">passive</option>
                                    <option value="active">active</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="create_bond">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal Secret -->
    <div class="modal fade" id="ManualCom" tabindex="-1" role="dialog" aria-labelledby="ManualCom"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Enter new command for ovs-vsctl</h4>
                </div>
                <div class="tab-content">
                    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-0 control-label"></label>
                            <div class="col-sm-12">
                                <input type="text" name="man_command" class="form-control" placeholder="add-br br10" maxlength="10"
                                       required pattern="[a-z0-9\.\:]+"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="set_man">Set</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
{% include 'sidebar_close.html' %}

{% endblock %}